.wallpaper
{
    height: 400px;
    width: 100%;
    margin-top: -25px;
    margin-bottom: 30px;
}
#recherche
{
    background-image:url("../pics/recherche.jpeg");  
}
#contact
{
    background-image:url("../pics/contact.png");  
}
#index
{
    background-image:url("../pics/index.png");  
}
#travaille_stage
{
    background-image:url("../pics/travaille_stage.png");  
}
#administrateur
{
    background-image:url("../pics/administrateur.jpg"); 
    margin-top:15px;
    margin-left: 80px;   
}
table#tableau {
    margin-left:120px;
}
.row
{
margin-left: 100px !important;
}